@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.navtext {
  font-family: Inter;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.lin-grad{
background: linear-gradient(180deg, #C0E3FC 0%, rgba(123, 226, 195, 0.8) 100%);

}
.lin-grad img{
  top: 279px;
}
.lin-grad h1{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
color: #000000;


}
.lin-grad h2{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
color: #000000;


}.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1rem;
  text-align: center;
}


@media (min-width: 768px) {
  .title {
    font-size: 4rem;
  }

  .subtitle {
    font-size: 2rem;
  }
}
.bg-container {
  box-sizing: border-box;
}
.pimg {
  max-width: 100%;
  height: auto;
}
.home-btn{
 filter: drop-shadow(2px 4px 3px rgba(255, 193, 7, 0.8));
background: #358279;
border-radius: 17px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 36px;
text-align: center;
padding: 10px;
color: #FFFFFF;
width: 200px;
border: none;

}
.home-btn:active {
  background-color: rgba(53, 130, 121, 0.8); 
}

/* middle part */

.mid-sec-text {
  font-family: Inter;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  background: rgba(192, 227, 252, 1);
}

@media (max-width: 640px) {
  .mid-sec-text {
    font-size: 6vw; /* Adjust the value as needed */
    line-height: 1.2;
  }
}

.client-sec-text{
  font-family: Inter;
font-size: 40px;
font-weight: 600;
line-height: 48px;
letter-spacing: 0em;
text-align: center;

}

